/target/
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.validation.prefs
.idea/.name
.idea/artifacts/chenweipan_war.xml
.idea/artifacts/chenweipan_war_exploded.xml
.idea/compiler.xml
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_2.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_2.xml
.idea/libraries/Maven__com_beust_jcommander_1_27.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_0_0.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_7.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
.idea/libraries/Maven__javax_servlet_servlet_api_2_4.xml
.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
.idea/libraries/Maven__org_aspectj_aspectjrt_1_6_12.xml
.idea/libraries/Maven__org_beanshell_bsh_2_0b4.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_4_0_4_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_core_4_3_5_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_entitymanager_4_3_5_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_validator_5_1_2_Final.xml
.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_18_1_GA.xml
.idea/libraries/Maven__org_jboss_jandex_1_1_0_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_1_3_GA.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_annotations_1_2_0_Beta1.xml
.idea/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_0_0_Final.xml
.idea/libraries/Maven__org_mockito_mockito_all_1_10_19.xml
.idea/libraries/Maven__org_mockito_mockito_core_1_10_19.xml
.idea/libraries/Maven__org_objenesis_objenesis_2_1.xml
.idea/libraries/Maven__org_powermock_powermock_api_mockito_1_6_2.xml
.idea/libraries/Maven__org_powermock_powermock_api_support_1_6_2.xml
.idea/libraries/Maven__org_powermock_powermock_core_1_6_2.xml
.idea/libraries/Maven__org_powermock_powermock_module_testng_1_6_2.xml
.idea/libraries/Maven__org_powermock_powermock_module_testng_common_1_6_2.xml
.idea/libraries/Maven__org_powermock_powermock_reflect_1_6_2.xml
.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_6_1.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_6.xml
.idea/libraries/Maven__org_springframework_data_spring_data_commons_core_1_4_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_jpa_1_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_acl_3_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_aspects_3_2_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_config_4_0_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_core_4_0_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_web_4_0_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_1_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_4_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_2_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_2_0_RELEASE.xml
.idea/libraries/Maven__org_testng_testng_6_8_21.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.settings/org.eclipse.core.resources.prefs
chenweipan.iml
src/main/java/chenweipan/journal/security/AuthenticationHandler.java
src/main/java/chenweipan/journal/security/LoginUserServiceImpl.java
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_8_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_8_8.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_8_8.xml
.idea/libraries/Maven__org_springframework_security_spring_security_acl_4_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_aspects_4_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_config_4_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_core_4_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_web_4_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_3_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_3_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_3_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_3_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_3_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_3_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_4_3_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_3_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_3_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_3_9_RELEASE.xml
.idea/encodings.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_1_5_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_security_1_5_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_1_5_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_1_5_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_commons_1_13_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_jpa_1_11_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_3_13_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_3_13_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_3_13_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_3_13_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_3_13_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_3_13_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_4_3_13_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_3_13_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_3_13_RELEASE.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_17.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/Maven__c3p0_c3p0_0_9_1_1.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_2.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_11.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_8_10.xml
.idea/libraries/Maven__mysql_mysql_connector_java_5_1_42.xml
.idea/libraries/Maven__org_apache_geronimo_specs_geronimo_jta_1_1_spec_1_1_1.xml
.idea/libraries/Maven__org_hibernate_hibernate_entitymanager_5_0_12_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_validator_5_3_6_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_21_0_GA.xml
.idea/libraries/Maven__org_jboss_jandex_2_0_0_Final.xml
journal/journal.log
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_8_5_23.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_8_5_23.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_8_5_23.xml
.idea/libraries/Maven__org_apache_tomcat_tomcat_annotations_api_8_5_23.xml
.idea/libraries/Maven__org_aspectj_aspectjrt_1_8_13.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_8_10.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_0_1_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_core_5_0_12_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_3_1_Final.xml
.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_25.xml
.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_25.xml
.idea/libraries/Maven__org_slf4j_log4j_over_slf4j_1_7_25.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_1_5_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_1_5_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_1_5_9_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_3_13_RELEASE.xml
.idea/libraries/Maven__net_iharder_base64_2_3_8.xml
.idea/uiDesigner.xml
